html {
  background: #242930;
  color: #fff;
}

/*
  ========================================
  Clearfix (maybe unnecessary
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}



/*
  ========================================
  High Level
  ========================================
*/

h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}



/*
  ========================================
  Components
  ========================================
*/

#SearchFilter {
  float: left;
  /* display: inline-block; */
  /* min-width: 15%; */
  min-height: 360px;
  /* width: 212px; */
  height: 90%;
  /* border: 2px solid blue; */
  padding: 10px;
  margin: 10px;

  border: 2px solid white;
  border-radius: 18px;
  background-color: #28323f;
  background-image: -webkit-linear-gradient(#28323f 0%, #3e5169 60%);
  background-image: linear-gradient(#28323f 0%, #3e5169 60%);

}


#Gallery {
  float: left;
  /* display: inline-block; */
  width: fit-content;
  min-width: 40%;
  min-height: 500px;
  max-width: 976px;
  max-height: 600px;
  height: 90%;
  /* border: 2px solid red; */
  padding: 10px;
  margin: 10px;
  overflow: auto;
  border: 2px solid white;
  border-radius: 18px;
  background-color: #28323f;
  background-image: -webkit-linear-gradient(#28323f 0%, #3e5169 60%);
  background-image: linear-gradient(#28323f 0%, #3e5169 60%);
}


/*
  ========================================
  Sub-Components
  ========================================
*/

.filter-refiner {
  margin: 4px;
  padding-top: 16px;
}

.character-card {
  float: left;
  padding: 8px;
  margin: 12px;
  /* height: 120px; */
  background-color: #28323f;
  background-image: -webkit-linear-gradient(#28323f 0%, #3e5169 60%);
  background-image: linear-gradient(#28323f 0%, #3e5169 60%);
  min-width: 200px;
  /* box-shadow: 3px 3px 3px; */
  border: 2px solid white;
  border-radius: 18px;
  width: 200px;
  /* width: 24%; */
}

.character-card:hover {
  margin: 10px;

  border: 2px white;
  background-color: #3e5e86;
  background-image: -webkit-linear-gradient(#3e5169 00%, #28323f 60%);
  background-image: linear-gradient(#3e5169 00%, #28323f 60%);
  border: 4px solid white;
}

.class-thumb {
  width: 80;
  display: flex;
  justify-content: center;
}

.character-modal-background {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  background: #171a1e;

  /* opacity: .8; */
  left: 0;
  top: 0;
}

.character-modal {
  /* position: fixed; */
  --darkreader-inline-bgcolor: #21211e;
  /* opacity: 1; */
  background-color: #28323f;
  /* border: 2px solid black; */
  top: 20%;
  left: 25%;
  border-radius: 18px;
  padding: 10px;
  align-self: center;
  width: 40%;
  min-width: 750px;
  height: fit-content;
  border: 2px solid white;
  background: #171a1e;
  background-color: #28323f;
  background-image: -webkit-linear-gradient(#28323f 0%, #3e5169 60%);
  background-image: linear-gradient(#28323f 0%, #3e5169 60%);
  font-weight: bold;
  line-height: 1.5;
  overflow-y: auto;
  z-index: 300;

}




.new-char-button {
  margin-top: 18px;
  padding: 4px;
  height: 100px;
  font-size: 18px;
  width: 200px;
}

.dropdown-filter {
  width: 200px;
  padding: 4px;
  /* margin-top: 4px; */
}

.char-preview-button {
  width: 50%;
  font-size: large;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.character-name-on-card {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character-description {
  font-size: 18px;
}

.character-description-modal {
  text-align: center;
}

.character-view-button {
  font-size: large;
  display: flex;
  justify-content: center;
  width: 20%;
  /* height: 36px; */
  margin-top: 12px;
  border: 2px solid white;
  border-radius: 3px;
  min-width: 100%;
}

.search-bar {
  width: 120px;
  height: 24px;
}

.search-button {
  font-size: large;
  height: 29px;
  margin-left: 2px;
}

.character-create-button {
  font-size: large;
  display: flex;
  justify-content: center;
  width: 200px;
  /* height: 36px; */
  margin-top: 12px;
  border: 3px solid white;
  border-radius: 3px;
}

.app-background {
  background-color: blue;
}



/*
  ========================================
  Modal Grid
  ========================================
*/



.modal-grid-container {
  justify-items: center;
  align-items: center;
  justify-content: center;

  display: grid;
  grid-template-columns: 200px 200px;
  grid-row-gap: 20px;
}

.grid-list {
  display: grid;
  grid-row-gap: 5px;
  margin: auto;
  grid-template-columns: 130px 40px;
}

.attribute-number-1 {
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #262a2e;

  border: 2px solid white;
}

.attribute-text {
  justify-items: left;
  align-items: left;
  margin: left auto;
  color: white;
}

.attribute-number-2 {
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #262a2e;

  border: 2px solid white;
}


#title {
  font-family: 'MedievalSharp';
  font-size: 48px;
  text-indent: .5em;
}
