html {
/* background: #131516; */
}

/*
  ========================================
  Clearfix (maybe unnecessary
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}



/*
  ========================================
  High Level
  ========================================
*/

h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}



/*
  ========================================
  Components
  ========================================
*/

#SearchFilter {
  float: left;
  /* display: inline-block; */
  min-width: 20%;
  min-height: 360px;
  height: 90%;
  /* border: 2px solid blue; */
  padding: 10px;
  margin: 10px;
}

#Gallery {
  float: left;
  /* display: inline-block; */
  width: fit-content;
  min-width: 40%;
  min-height: 400px;
  max-width: 60%;
  max-height: 600px;
  height: 90%;
  /* border: 2px solid red; */
  padding: 10px;
  margin: 10px;
  overflow: auto;
}


/*
  ========================================
  Sub-Components
  ========================================
*/

.filter-refiner {
  margin: 4px;
  padding-top: 16px;
}

.character-card {
  float: left;
  padding: 8px;
  margin: 12px;
  /* min-height: 160px; */
  min-width: 200px;
  box-shadow: 3px 3px 3px;
  background-color: gray;
  border-radius: 6px;
  width: 200px;
  /* width: 24%; */
}

.character-card:hover {
  border: 2px white;
  background-color: rgb(190, 190, 190);
}

.class-thumb {
  width: 80;
  display: flex;
  justify-content: center;
}

.character-modal-background {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: whitesmoke;
  /* opacity: .8; */
  left: 0;
  top: 0;
}

.character-modal {
  position: fixed;
  /* opacity: 1; */
  top: 20%;
  left: 25%;
  z-index: 300;
  background-color: rgb(255, 255, 255);
  --darkreader-inline-bgcolor: #21211e;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  align-self: center;
  width: 40%;
  min-width: 750px;
  height: fit-content;
  line-height: 1.5;
  font-weight: bold;
}


.new-char-button {
  margin-top: 18px;
  padding: 4px;
  height: 100px;
  font-size: 18px;
  width: 200px;
}

.dropdown-filter {
  width: 200px;
  padding: 4px;
  /* margin-top: 4px; */
}

.char-preview-button {
  width: 50%;
  font-size: large;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.character-name-on-card {
  display: flex;
  justify-content: center;
}

.character-description-modal{
  text-align: center;
}

.character-view-button {
  font-size: large;
  display: flex;
  justify-content: center;
  width: 20%;
  /* height: 36px; */
  margin-top: 12px;
  border: 2px solid white;
  min-width: 100%;
}

.search-bar {
  width: 120px;
  height: 24px;
}

.search-button {
  font-size: large;
  height: 31px;
  margin-left: 2px;
}

.character-create-button {
  font-size: large;
  display: flex;
  justify-content: center;
  width: 200px;
  /* height: 36px; */
  margin-top: 12px;
  border: 2px solid white;
}

.app-background {
  background-color: blue;
}



/*
  ========================================
  Modal Grid
  ========================================
*/



.modal-grid-container {
  justify-items: center;
  align-items: center;
  justify-content: center;

  display: grid;
  grid-template-columns: 200px 200px;
  grid-row-gap: 20px;
}

.grid-list {
  display: grid;
  grid-row-gap: 5px;
  margin: auto;
  grid-template-columns: 130px 40px;
}

.attribute-number-1 {
  justify-items: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}

.attribute-text {
  justify-items: left;
  align-items: left;
  margin: left auto;
}

.attribute-number-2 {
  justify-items: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}

/* .modal-trait {

}

.modal-trait-value {

} */